                                /* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                                            /* header */
nav{
    background-color: #333;
    color: white;
    overflow: auto;
    padding: 20px 50px;
}
nav li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
}
nav li{
    list-style: none;
    float: right;
    padding: 20px;
    text-align: center;
}
nav h1{
    padding-top: 20px;
    float: left;
    cursor: pointer;
}
.contain{
    max-width: 1100px;
    overflow: auto;
    margin: auto;
}
nav li   :hover{
    background-color: #444;
    color: #f7c08a;
}
                                                    /* first layer */
.layer-1{
    background-image: url(./images/showcase.jpg);
    background-position: center;
    background-size: cover;
    padding: 300px;
}
.content-1{
    text-align: center;
}
.content-1 h1{
    color: white;
    font-size: 4em;
}
.content-1 p{
    color: white;
    margin: 30px;
    font-size: 1.5em;
}
.content-1 span{
    color: #f7c08a;
}
.content-1 input[type=button]{
    background-color: #333;
    border: none;
    font-size: 1.2em;
    color: white;
    padding: 15px;
}
                                        /* second layer */

.layer-2{
    overflow: hidden;
}
.lamp{
    float: left;
    width: 50%;
    overflow: auto;
}

.history{
    color: white;
    text-align: center;
    background-color: #333;
    float: right;
    width: 50%;
    padding: 120px;
    max-height: 674px;
}
.history h1{
    font-size: 2.5em;
}
.history p{
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 25px;
}
.history h1 span{
    color: #f7c08a;
}
.history input[type=button]{
    background-color: white;
    color: black;
    border: none;
    padding: 15px 20px;
 }
                    /* third layer */


.layer-3 article{
    width: 33%;
    display: inline-block;
    padding: 80px 50px;
    text-align: center;
}
.layer-3 article p {
    font-size: 1.3em;
    margin: 25px;
}
.fas{
    font-size: 80px;
    padding-bottom: 20px;
}
.layer-3 article:nth-child(2){
    background-color: #f7c08a;
} 

                                /* footer */

footer{
    padding: 50px;
    color: white;
    background-color: #333;

}
footer h4{
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
}